@tailwind base;
@layer components{
    .header-icon{
        @apply text-white w-7 h-7
    }
}
@tailwind components;

@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
    display: none;
}


.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}